<div id="footer">
  <a href="/factures" id="profil" class="icon-svg">
    <%= render inline: Rails.root.join("app/assets/images/f.svg").read %>
  </a>
  <a href="/factures/new" id="profil" class="icon-svg">
    <%= render inline: Rails.root.join("app/assets/images/new_f.svg").read %>
  </a>
  <a href="/" id="home" class="icon-svg">
    <%= render inline: Rails.root.join("app/assets/images/home.svg").read %>
  </a>
  <a href="/recipients/new" id="profil" class="icon-svg">
    <%= render inline: Rails.root.join("app/assets/images/new_r.svg").read %>
  </a>
  <a href="/recipients" id="recap" class="icon-svg">
    <%= render inline: Rails.root.join("app/assets/images/r.svg").read %>
  </a>
</div>
