<div id="show-r">
  <h1>VOTRE BÉNÉFICIAIRE</h1>

  <h2><%= @recipient.name %></h2>
  <p><%= @recipient.description %></p>

  <div>
    <a href="<%= edit_recipient_path(@recipient) %>" class="home-f-icone">
      <%= render inline: Rails.root.join("app/assets/images/edit.svg").read %>
    </a>
    <a href="<%= recipient_path(@recipient) %>" data-method="delete" data-confirm="On est sûr ?" rel="nofollow" class="home-f-icone">
      <%= render inline: Rails.root.join("app/assets/images/suppr.svg").read %>
    </a>
  </div>



</div>