<h1>VUE D'ENSEMBLE</h1>
<h2><%= link_to "Liste des bénéficiaires", recipients_path, class: '' %></h2>
<div>
  <% @recipients.each do |recipient| %>
    <p><%= recipient.name %></p>
  <% end %>
<div>
<h2><%= link_to "Liste des factures", factures_path, class: '' %></h2>
<div>
  <% @factures.each do |facture| %>
    <p><%= facture.recipient.name %> <%= facture.price %></p>
  <% end %>
<div>
<h2>Ajout rapide</h2>
<div>
  <%= link_to "nouvelle facture", new_facture_path, class: 'btn btn-primary' %>
  <%= link_to "nouveau destinataire", new_recipient_path, class: 'btn btn-primary' %>
</div>