<div id="home-page">
  <h2 id="home-username">Bonjour <%= @user.email.split("@")[0].capitalize %> </h1>
  <div class="home-r-list">
    <h2><%= link_to "Liste des bénéficiaires", recipients_path, class: '' %></h2>
    <div class="home-display-r-cards">
      <% @recipients.each do |recipient| %>
        <%= link_to recipient.name, recipient_path(recipient), class: 'home-r-card' %>
      <% end %>
    </div>
  </div>
  <div>
    <h2><%= link_to "Liste des factures à payer", factures_path, class: '' %></h2>
    <div class="home-display-f-cards">
      <% @factures_not_sold.each do |facture| %>
        <div class="home-f-line">
            <%= link_to facture.recipient.name, facture_path(facture), class: 'home-f-name' %> 
            <%= link_to facture.price, facture_path(facture), class: 'home-f-block' %>
            <%= link_to facture.limite.strftime("%d.%m.%y"), facture_path(facture), class: 'home-f-block' %>
          <a href="<%= edit_facture_path(facture) %>" class="home-f-icone">
            <%= render inline: Rails.root.join("app/assets/images/edit.svg").read %>
          </a>
          <a href="<%= facture_path(facture) %>" data-method="delete" data-confirm="On est sûr ?" rel="nofollow" class="home-f-icone">
            <%= render inline: Rails.root.join("app/assets/images/suppr.svg").read %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <h2><%= link_to "Liste des factures réglées", factures_path, class: '' %></h2>
    <div class="home-display-f-cards">
      <% @factures_sold.each do |facture| %>
        <div class="home-f-line">
          <p class="home-f-name"><%= facture.recipient.name %></p> 
          <p class="home-f-block"><%= facture.price %></p>
          <a href="<%= edit_facture_path(facture) %>" class="home-f-block">
            <%= render inline: Rails.root.join("app/assets/images/edit.svg").read %>
          </a>
          <a href="<%= facture_path(facture) %>" data-method="delete" data-confirm="On est sûr ?" rel="nofollow" class="home-f-block">
            <%= render inline: Rails.root.join("app/assets/images/suppr.svg").read %>
          </a>
        
        </div>
      <% end %>
    </div>
  </div>
</div>


<%#<a href="<%= book_path(@book)">Improve Your Ruby Skills</a> %>

<%# <p class="home-f-price"><%= link_to edit_facture_path do %>
<%#                                     <%= link_to image_tag('edit.svg')%>
<%#                                   <% end %> </p>
<%#           <p class="home-f-price"><%= link_to image_tag('suppr.svg'),
<%#             facture_path(@facture),
<%#             method: :delete,
<%#             data: { confirm: "Tu es sûr ?" } %></p>