<div id="home-page">
  <%# <h1>VUE D'ENSEMBLE</h1> %>
  <div>
    <h2><%= link_to "Liste des bénéficiaires", recipients_path, class: '' %></h2>
    <div class="home-display-r-cards">
      <% @recipients.each do |recipient| %>
        <p class="home-r-card"><%= recipient.name %></p>
      <% end %>
    </div>
  </div>
  <div>
    <h2><%= link_to "Liste des factures à payer", factures_path, class: '' %></h2>
    <div class="home-display-f-cards">
      <% @factures_not_sold.each do |facture| %>
        <div class="home-f-line">
          <%= link_to facture_path(facture) do %>
            <p class="home-f-name"><%= facture.recipient.name %></p> 
            <p class="home-f-block"><%= facture.price %></p>
            <p class="home-f-block"><%= facture.limite.strftime("%d.%m.%y") %></p>
          <%= end %>
          <a href="<%= edit_facture_path(facture) %>" class="home-f-icone">
            <%= render inline: Rails.root.join("app/assets/images/edit.svg").read %>
          </a>
          <a href="<%= facture_path(facture) %>" data-method="delete" data-confirm="On est sûr ?" rel="nofollow" class="home-f-icone">
            <%= render inline: Rails.root.join("app/assets/images/suppr.svg").read %>
          </a>
        
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <h2><%= link_to "Liste des factures réglées", factures_path, class: '' %></h2>
    <div class="home-display-f-cards">
      <% @factures_sold.each do |facture| %>
        <div class="home-f-line">
          <p class="home-f-name"><%= facture.recipient.name %></p> 
          <p class="home-f-block"><%= facture.price %></p>
          <a href="<%= edit_facture_path(facture) %>" class="home-f-block">
            <%= render inline: Rails.root.join("app/assets/images/edit.svg").read %>
          </a>
          <a href="<%= facture_path(facture) %>" data-method="delete" data-confirm="On est sûr ?" rel="nofollow" class="home-f-block">
            <%= render inline: Rails.root.join("app/assets/images/suppr.svg").read %>
          </a>
        
        </div>
      <% end %>
    </div>
  </div>
</div>


<%#<a href="<%= book_path(@book)">Improve Your Ruby Skills</a> %>

<%# <p class="home-f-price"><%= link_to edit_facture_path do %>
<%#                                     <%= link_to image_tag('edit.svg')%>
<%#                                   <% end %> </p>
<%#           <p class="home-f-price"><%= link_to image_tag('suppr.svg'),
<%#             facture_path(@facture),
<%#             method: :delete,
<%#             data: { confirm: "Tu es sûr ?" } %></p>