<div id="index-f-page">
  <h1> VOS FACTURES</h1>
  <div>
    <ul>
      <% @factures.each do |facture| %>
        <%= link_to facture_path(facture) do %>
        <div class="index-f-cards">
          <li>Pour <%= facture.recipient.name %></li>
          <li>Avant le : <%= facture.limite.strftime("%d/%m/%Y") %></li>
          <li>Montant : <%= facture.price %> CHF</li>
          <li>Payé: <%= facture.sold %></li>
        </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>