<h1>VOTRE FACTURE</h1>

<h2>Pour <%= @facture.recipient.name %></h2>
<p><%= @facture.price %> CHF</p>
<p><%= @facture.sold %></p>

<%= link_to 'Liste factures', factures_path %> |
<%= link_to 'Modifier', edit_facture_path(@facture) %> |

<%= link_to "Supprimer",
            facture_path(@facture),
            method: :delete,
            data: { confirm: "Tu es sûr ?" } %>