<div id="show-f">
  <h1>VOTRE FACTURE</h1>

  <h2><%= @facture.recipient.name %></h2>
  <p>MONTANT : <%= @facture.price %> CHF</p>
  <p>AVANT LE : <%= @facture.limite.strftime("%d/%m/%Y") %></p>
  <p>STATUT : <%= @facture.sold %></p>

  <div>
    <a href="<%= edit_facture_path(@facture) %>" class="home-f-icone">
      <%= render inline: Rails.root.join("app/assets/images/edit.svg").read %>
    </a>
    <a href="<%= facture_path(@facture) %>" data-method="delete" data-confirm="On est sûr ?" rel="nofollow" class="home-f-icone">
      <%= render inline: Rails.root.join("app/assets/images/suppr.svg").read %>
    </a>
  </div>
</div>